/*
CSS: bootstrap, chakra, tailwind

best chart npm packages
chart.js
*/

#root {
background-color: #8ecae6;
font-size: 15px;
}

/*--App Styles: Header & Mamma with--*/
.header {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.mamma {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px;
}

/*--Navigation Menu Styles--*/
.navMenu {
  border-radius: 20px;
  border: 1px black solid;
  width: 20%;
  max-width: 20%;
  display: inline-block;
  text-align: center;
}

.navMenu > div {
  margin: 15px 10px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 6px 6px;
  background-color: #fff;
}

.navMenu > div:hover {
  border: 1px dotted #ffa45f;
  color: #ffa45f;
  background: #fff;
  opacity:1;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navMenuHeader {
  font-size: 22px;
  padding: 20px 0 20px 0;
}

/*--Overview Styles: Search, OverviewHeader and PlyerData--*/
.overview {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.search {
  padding: 20px 20px 20px 20px;
}

.searchForm {
  border: 1px black solid;
  display: inline-block;
  font-size: 15px;
  width: 70%;
  padding: 5.5px 10px

}

.searchButton {
  border: 1px black solid;
  font-size: 16px;
  padding: 5px 10px
}

.overviewHeader {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.selectedReplay {
  padding-right: 20px;
}

.playerStats {
  border-radius: 20px;
  /* border: 1px black solid; */
  padding: 0 20px;
}

.playerStats > * {
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.shootingPercentage {
  text-shadow:rgb(8, 154, 252);
  color: rgb(31, 212, 31);
  font-size: 18px;
}

.seeMore {
  font-size: 15px;
  padding: 0 0 0 85%;
}


/*--Log In Form--*/
.login {
  padding: 10px 20px;
  border: 1px black solid;
  border-radius: 20px;
  max-width: 20%;
  display: block;
  justify-content: center;
  max-height: 210px;
}

.loginForm > * {
  margin: 15px 10px;
}

.emailForm {
  font-size: 14px;
  padding: 0 35px 0 3px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.passwordForm {
  font-size: 14px;
  padding: 0px 35px 0px 3px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.loginButton {
  width: 80%;
  font-size: 18px;
  color: white;
  background-color: #ffa45f;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.loginButton:hover {
  border: 2px dotted #ffa45f;
  color: #ffffff;
  background: #ff9d1e;
  opacity:1;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}


.forgotPW {
  padding: 10px 10px;
  display: block;
  text-align: center;
}

.forgotPW:hover {
  color: rgb(214, 228, 238);
}

.newAccount {
  padding: 10px 10px;
  display: block;
  text-align: center;
}

.newAccount:hover {
  color: rgb(214, 228, 238);
}

.footer {
  display: block;
  text-align: center;
}

/*--Custom Stats Modal--*/
.customStats {
  border-radius: 20px;
  border: 1px solid black;
}

/*--Element Styles--*/
b {
  font-size: 17px;
}

i {
  color: rgb(29, 141, 216);
}

i:hover {
  color:rgba(96, 152, 216, 0.582);
}

.modalButton {
  margin: 6px 10px;
  font-size: 19px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 6px 20% 6px 20%;
  color: black;
  font-size: 16px;
  background-color: #fff;
}

.modalButton:hover {
  border: 1px dotted #ff7a59;
  color: #ff7a59;
  background: #fff;
  opacity:1;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}